# Node modules
**/node_modules

# pnpm
.pnpm-store

# Turborepo cache
.turbo

# Build outputs
**/dist
**/.next
**/build

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment (кроме примеров)
.env
.env.*
!.env.example

# Test coverage
coverage
.nyc_output
